.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.top_third {
    background-color: #4e339f; /* Replace with your desired color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25vh; /* This covers 1/3 of the viewport height */
    opacity: 0.5;
}